<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>722698355166-23luaprihjlttomu4tpmjd0npbkpv44d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.722698355166-23luaprihjlttomu4tpmjd0npbkpv44d</string>
	<key>API_KEY</key>
	<string>AIzaSyCiiSITN8N9ArA-h8O2WKeSXJusGXmq7YQ</string>
	<key>GCM_SENDER_ID</key>
	<string>722698355166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mihir.messegingapp</string>
	<key>PROJECT_ID</key>
	<string>messegingapp-142b5</string>
	<key>STORAGE_BUCKET</key>
	<string>messegingapp-142b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:722698355166:ios:107483803b2323c6</string>
	<key>DATABASE_URL</key>
	<string>https://messegingapp-142b5.firebaseio.com</string>
</dict>
</plist>